<div class="mt-3">
    <form asp-area="" 
          asp-controller="Home"
          asp-action="Search"
    >
    <input class="form-control mb-2" name="SearchString" placeholder="Ara..."/>
    <div class="d-grid">
        <button class="btn btn-danger" type="submit">Ara</button>
    </div>
    </form>
</div>